.texto {
  font-size: 18px;
  text-align: justify;
}
.texto::first-letter {
  color: #28a745;
  font-size: 1.8rem;
  font-weight: Bold;
}
@media (max-width: 768px) {
  .texto {
    font-size: 20px;
  }
}

h1,
h2 {
  color: #28a745;
  text-shadow: 1px 1px 3px rgba(40, 167, 69, 0.4) !important;
  font-weight: bold;
}

h3 {
  color: #2faf4c;
}

.grande {
  width: 400px;
}

.header {
  position: relative;
  height: 80vh;
}
.header .barra {
  background-color: rgba(40, 167, 69, 0.4) !important;
}
.header .barra .logo {
  width: 30%;
}
.header .barra .logo img {
  width: 180px;
}
.header .barra .navegacion {
  width: 70%;
}
.header .barra .navegacion .menu {
  width: 100%;
}
.header .barra .navegacion .menu .active {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}
.header .barra .navegacion .menu .nav-link {
  color: #ffffff;
  font-size: 1.2rem;
}
.header .barra .navegacion .menu .nav-link:hover {
  font-weight: 600;
  transition: all 0.5s ease-in;
}
.header .banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80vh;
  background-image: url(../img/banner2.jpg);
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

.container .principal {
  position: relative;
}
.container .principal .conductismo img {
  width: 350px;
}
@media (max-width: 768px) {
  .container .principal .conductismo img {
    width: 100%;
  }
}
.container .principal .precursores .mediano {
  width: 350px;
  height: 435px;
}
@media (max-width: 768px) {
  .container .principal .precursores .mediano {
    width: 100%;
  }
}
.container .principal .docente .contenido {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .principal .docente .contenido iframe {
  width: 560px;
  height: 315px;
}
@media (max-width: 768px) {
  .container .principal .docente .contenido iframe {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container .principal .docente .contenido {
    flex-direction: column;
  }
}
.container .principal .aportes .ventajas li {
  list-style: none;
}
.container .principal .aportes .ventajas li:before {
  content: "";
  background-image: url(../img/check.png);
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.container .principal .aportes .desventajas li {
  list-style: none;
}
.container .principal .aportes .desventajas li:before {
  content: "";
  background-image: url(../img/error.png);
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.container .principal .aportes .caracteristicas li {
  list-style: circle;
}
.container .principal .aportes .ideas li {
  list-style: square;
}
.container .integrantes {
  display: flex;
  justify-content: space-between;
}
.container .integrantes .alexandra,
.container .integrantes .arnaldo,
.container .integrantes .cristhian {
  width: 33.3%;
  padding: 10px;
  text-align: center;
}
.container .integrantes img {
  width: 80px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.container .integrantes h4 {
  font-size: 1rem;
  color: #e90041;
}
.container .integrantes p {
  font-size: 0.9rem;
  color: #2c2c2c;
  font-weight: bold;
}

.scroll {
  display: flex;
  justify-content: space-between;
}
.scroll .btn-examen {
  background-color: #e90041;
  width: 300px;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.scroll .btn-examen img {
  width: 50px;
}
.scroll .btn-examen .test {
  color: white;
  font-weight: bold;
}
.scroll a img {
  width: 50px;
}

footer {
  padding: 15px 0;
  background-color: #28a745;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer p {
  color: #ffffff;
  margin-bottom: 0;
}

/*# sourceMappingURL=estilos.css.map */
